* {
  padding: 0;
  margin: 0;
}

.game-header {
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  row-gap: 16px;
  background-color: lightgray;
  white-space: nowrap;
  min-width: min-content;
}

.player-name--active {
  background-color: rgb(0, 175, 0);
}

.start-button {
  grid-column: 1 / 3;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(0, 175, 0);
}

.start-button--restart {
  background-color: rgb(255, 63, 63);
}

.start-button:disabled {
  opacity: 0.3;
}

.gameboard,
canvas {
  width: 600px;
  height: 600px;
  position: absolute;
  left: calc(50% - 300px);
  margin-top: 32px;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3px;
  background-color: black;
}

.gameboard__cell {
  background-color: white;
  font-size: 150px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.canvas--visible {
  z-index: 1;
}

.game-over-dialog {
  box-sizing: border-box;
  padding: 16px;
  width: 250px;
  height: 100px;
  position: fixed;
  left: calc(50% - 125px);
  top: calc(50% - 50px);
  background-color: lightgray;
  border: none;
  border-radius: 25px;
}

.game-over-dialog::backdrop {
  background-color: rgba(128, 128, 128, 0.664);
}

.game-over-dialog h1 {
  margin-bottom: 12px;
  font-size: 1.5em;
}

.game-over-dialog__close-button {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 35px;
  background-color: lightgray;
  border: none;
  cursor: pointer;
  color: rgb(71, 71, 71);
}
